<div class="animateCCmate-inner component-inner">
  {{> component this}}
  <div class="animateCCmate-widget component-widget">
    <div class="animateCCmate-object-holder">
      <object type="text/html" data="" class="animateCCmate-object"></object>
    </div>
  </div>
</div>
